body {
    background-color:#f59eb9;
    font-family: Verdana, sans-serif;
}

main {
    display: flex;
    gap: 8px;
    padding-left: 16px;
}

article, footer {
    background-color: #f0facc;
}

article {
    padding: 10px ;
}

a{
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 16px;
}